{% extends "base.html" %}

{% block content %}
  <h1>
    Task: {{ task.name }}
  </h1>

  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Deadline:</strong> {{ task.deadline }}</p>
  <p><strong>Is Completed:</strong> {{ task.is_completed }}</p>

  <div class="ml-3">
    <h4>Assignees</h4>

    {% for worker in task.assignees.all %}
        <hr>
        <p><strong>Worker Name:</strong> {{ worker.get_full_name }}</p>
        <p><strong>Email:</strong> {{ worker.email }}</p>
        <p><strong>Position:</strong> {{ worker.position }}</p>
    {% empty %}
      <p>No assignees!</p>
    {% endfor %}
  </div>
{% endblock %}
