{% if user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
  <li class="btn btn-link">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
  {% else %}
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endif %}
<br>

<ul class="sidebar-nav list-group">
  <li class="list-group-item"><a href="{% url 'manager:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'manager:worker-list' %}">Workers</a></li>
</ul>
